# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Re]leases/
bin/
obj/

# Visual Studio cache/options directory
.vs/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# SQLite / Local Databases
*.db
*.db-shm
*.db-wal

# Logs
*.log
run.log
